doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Document
    link(rel='stylesheet', type='text/css', href='css/styles.css')
    link(href="https://fonts.googleapis.com/css?family=Bahiana", rel="stylesheet")

  body
    header header
    section section
    aside aside
    footer footer
