* {
	background: #F3F2F3;
}

header {
	background: #838283;
	border-bottom: 10px solid #A5A4A5;
	height: 150px;
}

section {
	background: #333333;
	height: 400px;
	width: 200px;
	color: white;
	float: left;
}

aside {
	background: #D2D0D2;
	height: 400px;
	width: 100%;
}

footer {
	background: #838283;
	height: 150px;

	clear: both;
}

